@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');



:root {
    --height: 100vh;
    --body-background-color: #2A2D43;
    --article-background-color: #E4DFDA;
    --aside-background-color: #414361;

    --aside-text-color: white;
    --primary-headers-text-color: black;
    --second-headers-text-color: #3f3f3f;
    --info-text-color: #737373;
    --text-color: #000000;
    --image-src: url("https://media-exp1.licdn.com/dms/image/D4D03AQEnqNqR8Q96AQ/profile-displayphoto-shrink_800_800/0/1668704775221?e=1674691200&v=beta&t=MyhGxHbTpQr4UqAglt4g86kQMz2ynjr5EkQoOYkyx_k")
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 98vw;
    overflow-x: hidden;

    display: flex;
    justify-content: center;

    background-color: var(--body-background-color);
}

article{
    min-width: 80vw;
    max-width: 90vw;

    background-color: var(--article-background-color);

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

main {
    padding: 30px;
}

main > section {
    margin: 30px 0px
}

main > section > div {
    margin-top: 40px;
}

main > section > div > div {
    margin: 20px 0px
}

.divCargo{
    margin-top: 40px;
}

p {
    margin-top: 2px;
    text-align: justify;
    color: var(--text-color);
}

aside {
    width: 30%;
    background-color: var(--aside-background-color);

    color: var(--aside-text-color);

    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside > section {
    width: 90%;
}

aside > section > ul > li {
    font-size: 0.8rem;
}

aside > section > ul > li > button, aside > section > ul > li > a > button {
    background: linear-gradient(210deg, var(--aside-background-color), var(--body-background-color));
    color: var(--aside-text-color);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h1, main h2 {
    color: var(--primary-headers-text-color);
}

h3, h4 {
    line-height: 0;
    color: var(--second-headers-text-color);
    margin-bottom: 5px;
}

.periodo, address {
    line-height: 0;
    font-size: 0.7rem;
    color:var(--info-text-color);
}

.image {
    border-radius: 10px;
    width: 80%;
    height: 15%;
    background-image:var(--image-src);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.description {
    font-size: 0.9rem;
}

ul.stylelessList {
    list-style: none;
    padding: 0px !important;
}

ul.stylelessList > li {
    margin-top: 10px;
}
/* Tablet */
@media screen and (max-width: 768px) {
    article{
        flex-direction: column-reverse;
    }

    article > aside {
        width: 100%;
    }

    .image {
        width: 90%;
        height: 300px;
    }
}
/* Celular */
@media screen and (max-width: 480px) {
    .image {
        height: 280px;
    }
}