@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

html {
    width: 100vw;
    height: 100vh;
    background-color:#2A2D43;

    display: flex;
    justify-content: center;
    overflow-x: hidden;

    padding: 30px 0px;
}

form {
    background-color: #E4DFDA;
    color:#2A2D43;
 
    padding: 30px;
 
    border-radius: 10px;
 }

 form  * {
    width: 100%;
    margin: 10px 0px;
 }

 input {
    background-color: #E4DFDA;
    border: solid 1px #2A2D43;
    border-width: 0px 0px 1px 0px;
    border-radius: 2px;
    padding: 10px 0px
 }

 button {
    padding: 40px 0px;
 }


button {
    border: solid 1px #2A2D43;
    border-radius: 5px;
    padding: 5px 0px;

    background-color:  #E4DFDA;

    transition: all 0.5s;
}

*:active, *, *::after, *::selection, *:focus {
    outline: none;
}

button:hover {
    background-color: #2A2D43;
    color:#E4DFDA
}